################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitRepoWebApplication/obj
/.vs/GitRepoWebApplication/v15/Server/sqlite3
